header {
background: #e6fdcf;
padding: 20px 0;

}

.caixa {
position: relative;
width: 800px;
margin: 0 auto;

}

nav{ 
position: absolute;
top: 110px;
right: 0 auto;

}

nav li { 
display: inline;
margin: 0 0 0 15px;

}

nav a { 
text-transform: uppercase;
color: #00f7ff;
font-weight: bold;
font-size: 22px;
text-decoration: none;

}

nav a:hover {
color: #ff0077;
text-decoration: underline;
}