    #banner{
        width: 100%;
    }

    .titulo-principal{
        text-transform: uppercase;
        text-align: center;
        color: #417a60;
        background-color: #e6fdcf;

    }

    .titulo2{
        background-color: #e6fdcf;
    }
    