body{
    margin: 0px;
    padding: 0px;
}

#banner{
        width: 100%;
    }

    .titulo-principal{
        text-transform: uppercase;
        text-align: center;
        color: #1d362b;
        background-color: #e6fdcf;
        padding: 50px;
        margin:0px;

    }

    .titulo2{
        background-color: #e6fdcf;
        margin:0px;
    }
    